Repository ovsds-example-organization/docker-contrib: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, dockerfilelint --config .

fix(ubuntu): remove redundant LABEL
  src/ubuntu/jammy/Dockerfile
Due: dockerfilelint --config .

feat(ubuntu-ci): add trivy
  src/ubuntu-ci/README.md
  src/ubuntu-ci/jammy/scripts/103-trivy.sh
Due: prettier --check

feat(ubuntu-ci): add trivy
  .github/workflows/check-pr.yaml
Due: prettier --check

feat(ubuntu-ci): add trivy (#2)
  .github/workflows/check-pr.yaml
  src/ubuntu-ci/README.md
  src/ubuntu-ci/jammy/scripts/103-trivy.sh
Due: prettier --check

feat(ubuntu-ci): add gh-cli
  .github/workflows/assign-pr-author.yaml
  .github/workflows/check-pr.yaml
  Taskfile.yaml
  src/ubuntu-ci/jammy/scripts/103-trivy.sh
  src/ubuntu-ci/jammy/scripts/104-github-cli.sh
Due: prettier --check

feat(ubuntu-ci): add gh-cli (#3)
  .github/workflows/assign-pr-author.yaml
  .github/workflows/check-pr.yaml
  Taskfile.yaml
  src/ubuntu-ci/jammy/scripts/103-trivy.sh
  src/ubuntu-ci/jammy/scripts/104-github-cli.sh
Due: prettier --check

ci: add trivy workflows
  .github/.scripts/gh_issue_check_if_exists.sh
  .github/.scripts/gh_issue_create.sh
  .github/.scripts/gh_release_get_latest_version.sh
  .github/.scripts/git_fix_safe_directory.sh
  .github/workflows/check-pr.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/security-scan.yaml
  Taskfile.yaml
  src/Taskfile.yaml
  src/docker-bake.hcl
  src/python-dev/.trivyignore.yaml
  src/python-dev/3.10-jammy/docker-bake.hcl
  src/python/3.10-jammy/docker-bake.hcl
  src/ubuntu-ci/.trivyignore.yaml
  src/ubuntu-ci/jammy/docker-bake.hcl
  src/ubuntu/jammy/docker-bake.hcl
Due: prettier --check

fix(ubuntu-ci): update node version Solved (CVE-2022-25881)[https://avd.aquasec.com/nvd/cve-2022-25881]
  src/ubuntu-ci/jammy/scripts/300-node.sh
Due: none

ci: add trivy workflows (#4)
  .github/.scripts/gh_issue_check_if_exists.sh
  .github/.scripts/gh_issue_create.sh
  .github/.scripts/gh_release_get_latest_version.sh
  .github/.scripts/git_fix_safe_directory.sh
  .github/workflows/check-pr.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/security-scan.yaml
  Taskfile.yaml
  src/Taskfile.yaml
  src/docker-bake.hcl
  src/python-dev/.trivyignore.yaml
  src/python-dev/3.10-jammy/docker-bake.hcl
  src/python/3.10-jammy/docker-bake.hcl
  src/ubuntu-ci/.trivyignore.yaml
  src/ubuntu-ci/jammy/docker-bake.hcl
  src/ubuntu-ci/jammy/scripts/300-node.sh
  src/ubuntu/jammy/docker-bake.hcl
Due: prettier --check

chore: rename misspelled org name
  LICENSE
  src/docker-bake.hcl
Due: none

chore: rename misspelled org name (#7)
  LICENSE
  src/docker-bake.hcl
Due: none

fix(ubuntu-ci): node-version
  Taskfile.yaml
  src/ubuntu-ci/jammy/Dockerfile
Due: prettier --check, dockerfilelint --config .

fix(ubuntu-ci): node-version (#8)
  Taskfile.yaml
  src/ubuntu-ci/jammy/Dockerfile
Due: prettier --check, dockerfilelint --config .

chore: update dependencies
  .github/workflows/check-pr.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/security-scan.yaml
  .lintstagedrc.json
  .nvmrc
  Taskfile.yaml
  package-lock.json
  package.json
Due: prettier --check

feat: migrate to mirrored image
  src/ubuntu/jammy/docker-bake.hcl
Due: none

Migrate to mirrored images (#9)
  .github/workflows/check-pr.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/security-scan.yaml
  .lintstagedrc.json
  .nvmrc
  Taskfile.yaml
  package-lock.json
  package.json
  src/ubuntu/jammy/docker-bake.hcl
Due: prettier --check

feat(ubuntu-ci): migrate to python3.12
  src/Taskfile.yaml
  src/ubuntu-ci/jammy/scripts/103-trivy.sh
  src/ubuntu-ci/jammy/scripts/200-python.sh
  src/ubuntu-ci/jammy/scripts/201-poetry.sh
  src/ubuntu-ci/jammy/scripts/400-docker.sh
Due: prettier --check

feat(ubuntu-ci): migrate to python3.12 (#10)
  src/Taskfile.yaml
  src/ubuntu-ci/jammy/scripts/103-trivy.sh
  src/ubuntu-ci/jammy/scripts/200-python.sh
  src/ubuntu-ci/jammy/scripts/201-poetry.sh
  src/ubuntu-ci/jammy/scripts/400-docker.sh
Due: prettier --check

Path conditions:
  prettier --check: any of: *.{md,yaml,json,js}
  dockerfilelint --config .: any of: Dockerfile
